<html>
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/navbar") %>

    <main class="uk-margin-bottom">
      <div class="uk-container uk-margin-large-top">
        <div class="jumbotron">
          <h1>Checkout Our Offers</h1>

          <p>
            We will help you find the perfect VPN for your needs and for your
            budget. Everyone should have access to a VPN and control over their
            privacy. Try one of our tested and proven VPN providers below!
          </p>
        </div>
      </div>

      <div class="uk-container">
        <div class="products-grid" uk-grid>
          <% products.forEach(product => { %>
          <a href="<%= product.affiliateUrl %>">
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="<%= product.image %>" alt="<%= product.title %>" />
              </div>
              <div class="uk-card-body">
                <div class="uk-flex uk-flex-between uk-flex-middle">
                  <h3 class="uk-card-title uk-margin-remove">
                    <%= product.title %>
                  </h3>
                  <div
                    title="Rating: <%= product.rating %>"
                    class="uk-flex stars"
                    style="gap: 3px"
                    data-rating="<%= product.rating %>"
                  ></div>
                </div>
                <p><%= product.description %></p>
                <ul class="uk-list uk-list-divider">
                  <% product.features.slice(0, 3).forEach(feature => { %>
                  <li><%= feature %></li>
                  <% }) %>
                  <li>And more</li>
                </ul>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
