<html>
  <head>
    <title>LitVPNS - Top <%= products.length %> VPNS on the market</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/index.min.css" />
  </head>
  <body>
    <%- include("../partials/navbar") %>

    <main class="uk-margin-large-bottom uk-margin-large-top">
      <div class="uk-container uk-margin-bottom">
        <div class="jumbotron">
          <h1>Checkout Our Offers</h1>

          <p>
            We will help you find the perfect VPN for your needs and for your
            budget. Everyone should have access to a VPN and control over their
            privacy. Try one of our tested and proven VPN providers below!
          </p>
        </div>
      </div>

      <div class="uk-container uk-margin-bottom">
        <a
          href="https://www.tkqlhce.com/click-100701600-11337760"
          target="_top"
        >
          <img
            src="https://www.awltovhc.com/image-100701600-11337760"
            width="728"
            height="90"
            alt=""
        /></a>
      </div>

      <div class="uk-container">
        <div class="products-grid">
          <% products.forEach(product => { %>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="<%= product.image %>" alt="<%= product.title %>" />
            </div>
            <div class="uk-card-body">
              <div class="uk-flex uk-flex-between uk-flex-middle">
                <h3 class="uk-card-title uk-margin-remove">
                  <%= product.title %>
                </h3>
                <div class="uk-flex uk-flex-middle" style="gap: 5px">
                  <span class="material-icons-outlined star">star</span>
                  <%= product.rating %>
                </div>
              </div>

              <% if(product.discount) { %>
              <a
                href="<%= product.affiliateUrl %>"
                class="product-discount uk-margin-top uk-display-block"
              >
                <%= product.title %> offers a <%= product.discount %>% discount
              </a>
              <% } else { %>
              <a
                href="<%= product.affiliateUrl %>"
                class="uk-margin-top uk-display-block"
              >
                <%= product.title %> currently has no discount
              </a>
              <% } %>

              <ul class="uk-list uk-list-divider">
                <% product.features.slice(0, 3).forEach(feature => { %>
                <li class="uk-text-nowrap"><%= feature %></li>
                <% }) %>
                <li>
                  <a href="/<%= product.title.replace(' ', '_') %>"
                    >And more...</a
                  >
                </li>
              </ul>
            </div>

            <div class="uk-card-footer uk-margin-top">
              <a
                href="/<%= product.title.replace(' ', '_') %>"
                class="uk-button uk-button-default"
                >Read more</a
              >
              <a
                href="<%= product.affiliateUrl %>"
                class="uk-button uk-button-primary"
                >Get offer</a
              >
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
